ALPACA_API_KEY=your_competition_paper_key
ALPACA_API_SECRET=your_competition_paper_secret
EXECUTE=0
LLM_ENABLED=0
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=optionpilot
POSTGRES_PASSWORD=optionpilot
POSTGRES_DB=optionpilot
ANTHROPIC_API_KEY=your_anthropic_key
